body {
    background-color: #000;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* HEADING */

.header--main {
    font-size: 50px;
    color: #fff;
    font-weight: normal;
}

.header--secondary {
    font-size: 42px;
    color: #fff;
    font-weight: 300;
}

.header--sub-header {
    color: gray;
    font-size: 21px
}
/* LINKS */
.link--cta {
    font-size: 16px;
    color:aquamarine;

}